@page "/all-difficulties"
@inject IClientCharacterService ClientCharacterService
@inject IClientTeamService ClientTeamService
@inject IClientDifficultyService ClientDifficultyService
@inject NavigationManager NavigationManager
<PageTitle>Difficulty</PageTitle>

<h3>Difficulty</h3>


<MudTable Items="ClientDifficultyService.ClientDifficulty" Hover="true" Striped="true" Dense="true" Class="mb-2">

    <HeaderContent>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Title">@context.Title</MudTd>
            <MudTd>
                <MudTd DataLabel="Edit">
                    <MudIconButton OnClick="(() => EditDifficulty(context.Id))"
                                   Icon="@Icons.Material.Filled.Edit"
                                   Color="Color.Primary"
                                   Variant="Variant.Filled">
                    </MudIconButton>
                </MudTd>
                <MudTd DataLabel="Delete">
                    <MudIconButton OnClick="(() => DeleteDifficulty(context.Id))"
                                   Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   Variant="Variant.Filled">
                    </MudIconButton>
                </MudTd>
            </MudTd>
        </RowTemplate>

</MudTable>

    <MudButton @onclick=CreateNewDifficulty Color="Color.Primary" Variant="Variant.Filled">Create new Difficulty</MudButton>

@* <table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var difficulty in ClientDifficultyService.ClientDifficulty)
        {

            <tr>
                <td>@difficulty.Title</td>
                <td>
                    <button class="btn btn-primary"
                            @onclick="(() => EditDifficulty(difficulty.Id))">
                        <i class="fa-solid fa-pencil"></i>
                    </button>`
                    <button class="btn btn-danger"
                            @onclick="(() => DeleteDifficulty(difficulty.Id))">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary"
        @onclick="CreateNewDifficulty">
    Create new Difficulty
</button> *@

@code {

    // lifecycle method
    protected override async Task OnInitializedAsync()
    {
        await ClientDifficultyService.GetAllDifficulty();
    }

    void EditDifficulty(int id)
    {
        //Navigate the user to another page - inject  NavigationManager NavigationManager
        NavigationManager.NavigateTo($"single-difficulty/{id}");
    }

    void CreateNewDifficulty()
    {
        NavigationManager.NavigateTo("/single-difficulty");
    }

    async Task DeleteDifficulty(int id)
    {
        await ClientDifficultyService.DeleteDifficulty(id);
        StateHasChanged();
    }
}
